<%= form_with(model: friend, local: true) do |form| %>
  <% if friend.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(friend.errors.count, "error") %> prohibited this friend from being saved:</h2>

      <ul>
        <% friend.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :friend_name %>
  </div>

  <div class="field">
    <%= form.label :birthday %>
    <%= form.date_field :birthday, id: :friend_birthday %>
  </div>

  <h3>Gift Ideas:</h3>
  <div id="gifts">
    <%= form.fields_for :gifts do |gift_form| %>
      <div class="nested-fields">
        <div class="field">
          <%= gift_form.label :name %>
          <%= gift_form.text_field :name %>
        </div>

        <div class="field">
          <%= gift_form.label :price %>
          <%= gift_form.number_field :price %>
        </div>

        <div class="field">
          <%= gift_form.label :link %>
          <%= gift_form.url_field :link %>
        </div>

        <%= link_to 'Remove this gift', '#', class: 'remove-gift' %>
      </div>
    <% end %>
  </div>
  <%= link_to 'Add Gift', '#', id: 'add-gift-link', class: 'btn btn-primary' %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<script type="text/template" id="gift-fields-template">
  <div class="nested-fields">
    <div class="field">
      <%= label_tag 'friend[gifts_attributes][NEW_RECORD][name]', 'Gift name' %>
      <%= text_field_tag 'friend[gifts_attributes][NEW_RECORD][name]', '', class: 'form-control' %>
    </div>

    <div class="field">
      <%= label_tag 'friend[gifts_attributes][NEW_RECORD][price]', 'Price' %>
      <%= text_field_tag 'friend[gifts_attributes][NEW_RECORD][price]', '', class: 'form-control' %>
    </div>

    <div class="field">
      <%= label_tag 'friend[gifts_attributes][NEW_RECORD][link]', 'Link' %>
      <%= text_field_tag 'friend[gifts_attributes][NEW_RECORD][link]', '', class: 'form-control' %>
    </div>

    <a href="#" class="remove-gift">Remove this gift</a>
  </div>
</script>
